@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: 220 13% 87%;
  --background: 0 0% 100%;
  --foreground: 222 15% 15%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
